.section {
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  border-radius: 1px;
  background: #b8b8b8;
  box-shadow:
    -2px -2px 1px 0px rgba(0, 0, 0, 0.8) inset,
    2px 2px 1px 0px rgba(255, 255, 255, 0.5) inset;
}

.input {
  padding: 10px;
  width: 500px;
  font-size: 36px;
  margin-bottom: 25px;
}

.inputFile {
  width: 300px;
  font-size: 16px;
  margin-bottom: 40px;
}

.englishCardList {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
