.nav {
  grid-area: n;
}

.item {
  padding: 4px;
  border-radius: 1px;
  background: var(--Gray, #b8b8b8);
  box-shadow:
    -2px -2px 1px 0px rgba(0, 0, 0, 0.8) inset,
    2px 2px 1px 0px rgba(255, 255, 255, 0.5) inset;
  margin-bottom: 20px;
}

.item.active {
  border-radius: 1px;
  background: #e1e1e1;
  box-shadow:
    -2px -2px 1px 0px rgba(255, 255, 255, 0.8) inset,
    2px 2px 1px 0px rgba(0, 0, 0, 0.8) inset;
}

.item:hover {
  border-radius: 1px;
  background: #e1e1e1;
  box-shadow:
    -2px -2px 1px 0px rgba(255, 255, 255, 0.8) inset,
    2px 2px 1px 0px rgba(0, 0, 0, 0.8) inset;
}
