.content {
  grid-area: c;
}

.contentImg {
  max-height: 200px;
  width: 100%;
}

.post {
  padding: 10px;
  display: flex;
  border: 1px solid black;
  width: 500px;
  min-height: 160px;
  margin-bottom: 20px;
}

.postText {
  width: 360px;
  margin-bottom: 20px;
}

.postNickname {
  color: #797979;
}

button img {
  padding: 14px;
}
