.content {
  grid-area: c;
}

.contentImg {
  max-height: 200px;
  width: 100%;
}

.post {
  padding: 10px;
  display: flex;
  border: 1px solid black;
  width: 500px;
  min-height: 160px;
  margin-bottom: 20px;
  border-radius: 1px;
  background: var(--Gray, #b8b8b8);
  box-shadow:
    -2px -2px 1px 0px rgba(0, 0, 0, 0.8) inset,
    2px 2px 1px 0px rgba(255, 255, 255, 0.5) inset;
}

.postText {
  width: 360px;
  margin-bottom: 20px;
}

.postNickname {
  color: #797979;
}

button img {
  padding: 14px;
}
