.categoryCard {
  display: flex;
  align-items: center;
  border-radius: 1px;
  background: var(--Gray, #b8b8b8);
  box-shadow:
    -2px -2px 1px 0px rgba(0, 0, 0, 0.8) inset,
    2px 2px 1px 0px rgba(255, 255, 255, 0.5) inset;
  height: 100px;
  width: 280px;
  padding: 10px;
  margin-top: 10px;
}

.categoryCard:hover {
  border-radius: 1px;
  background: #e1e1e1;
  box-shadow:
    -2px -2px 1px 0px rgba(255, 255, 255, 0.8) inset,
    2px 2px 1px 0px rgba(0, 0, 0, 0.8) inset;
}
