@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

html,
body {
  min-height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #b8b8b8;
}
